/* --------------------------------------------------------------
# Content
-------------------------------------------------------------- */
body {
  margin: var(--header-height) 0 0;
  font-family: Muli, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.875;
  color: var(--black);
}

a {
  color: #000;
}

section {
  margin: 150px 0;
}

/* --------------------------------------------------------------
# Breakpoints
-------------------------------------------------------------- */

/* MD - Collapsed Menu */
@media screen and (max-width: 768px) {
}

/* LG */
@media screen and (max-width: 992px) {
}

/* XL */
@media screen and (max-width: 1200px) {
}
