/* --------------------------------------------------------------
# Custom Styles
-------------------------------------------------------------- */
h1 span {
  position: relative;
  top: -12px;
  color: #f00;
  padding-right: 1px;
}

footer span {
  position: relative;
  top: -5px;
  color: #f00;
  padding-right: 1px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.neu-shadow {
  margin: 30px;
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 15px 15px 40px #d9d9d9, -15px -15px 40px #ffffff;
}

/* Featurettes
------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
