/* --------------------------------------------------------------
# Variables
-------------------------------------------------------------- */
:root {
  --header-height: 60px;
  --black: #000;
}

/* --------------------------------------------------------------
# Vendors
-------------------------------------------------------------- */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~@glidejs/glide/src/assets/sass/glide.core";
@import "~@glidejs/glide/src/assets/sass/glide.theme";
@import "~aos/dist/aos.css";

/* --------------------------------------------------------------
# Base
-------------------------------------------------------------- */
@import "./base";

/* --------------------------------------------------------------
# Components
-------------------------------------------------------------- */
@import "./components/header";
@import "./components/carousel";

/* --------------------------------------------------------------
# Custom
-------------------------------------------------------------- */
@import "./custom.scss";
